@font-face {
  font-family: 'Inter', sans-serif;
  src: url('../static/fonts/Inter.ttf')
}

html{
  overflow-y: hidden;
  overflow-x: hidden;
}

html.border webview {
  box-sizing: border-box;
  border-right: 4px #F3F6F8 solid;
  border-bottom: 4px #F3F6F8 solid;
  border-left: 4px #F3F6F8 solid;
}

html.border #controls {
  box-sizing: border-box;
  border-right: 4px #F3F6F8 solid;
  border-top: 4px #F3F6F8 solid;
  border-left: 4px #F3F6F8 solid;
}

html.dark-theme.home webview {
  background: #424242;
}

html.border.dark-theme webview {
  box-sizing: border-box;
  border-right: 4px #333333 solid;
  border-bottom: 4px #333333 solid;
  border-left: 4px #333333 solid;
}

html.border.dark-theme #controls {
  box-sizing: border-box;
  border-right: 4px #333333 solid;
  border-top: 4px #333333 solid;
  border-left: 4px #333333 solid;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter" !important;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
  width: 100vw;
  height: 100vh;
}

button,
input {
  outline: none;
}

#navigation {
  width: 100%;
  position: relative;
  display: inline-block;
}

#tab-bar{
  width: 100%;
  display: flex;
  /* border-top: 1px solid #DAD9DA;
  border-bottom: 1px solid #DAD9DA; */
}

#ripple-container{
  position: absolute;
  height: 3.8em;
  background: #ffffff;
  z-index: 999;
  top: 0;
  left:0;
  right:0;
  transition: clip-path 1s;
  /*border-bottom: 3px solid #F3F6F8;*/
}

/* .chrome-tab:before {
  content: '';
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  position: absolute;
  top: 0;
  z-index: 999;
  clear: both;
  transition: background-color .5s ease;
} */

/*#ripple-container:hover:after {
  width: 100%;
  background: black;
}*/

#controls {
  z-index: 999;
  font-size: 10px;
  height: 3.8em;
  overflow: hidden;
}

#controls button,
#controls input {
  font-size: 14px;
}

#back, #refresh, .titlebar-windows .control, .titlebar-mac {
  background: rgb(255, 255, 255);
  border-bottom: 3px solid #F3F6F8;
  transition: all .2s ease;
}

#add-tab-container {
  font-size: 10px;
  height: 3.8em;
}

#back:not([disabled]):hover, #refresh:hover, .titlebar-windows .control:hover {
  border-bottom: 3px solid #dedede;
}

.titlebar-windows .control.close:hover {
  border-bottom: 3px solid #bf4943;
}

button,
input[type="submit"],
button[disabled]:hover {
  border: none;
}

/* These glyphs are on the small side, make them look more natural when
compared to the back/forward buttons */
#controls #home,
#controls #terminate {
  font-size: 24px;
}

#controls #reload {
  font-size: 20px;
}

#controls #zoom,
#controls #find {
  font-size: 18px;
}

#navbarIcon {
  position: relative;
  z-index: 999;
  float: left;
  height: calc(100% - 3px);
  transition: opacity 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-left: 3px solid #F3F6F8; */
}

#navbarIcon svg{
  display: block;
  /*border-left: 1px solid #BCC4C8;*/
  padding-left: 16px;
}

#back, #refresh, #bookmark, #settings, #add-tab{
  padding: 0 16px 0 16px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
}

#add-tab{
  flex: auto;
  font-size: 10px;
  height: 100%;
  background-color: #F3F6F8;
  border-bottom-left-radius: 5px;
  padding: 0 12px 0 12px;
  box-shadow: inset 5px 0 5px -5px rgba(0,0,0,0.3), inset 0px -5px 5px -5px rgba(0,0,0,0.3);
  transition: box-shadow 0.5s ease;
  /*border-left: 1px solid #DAD9DA;*/
  /*border-right: 1px solid #DAD9DA;*/
}

#add-tab:hover{
  background-color: #e8e8e8;
  box-shadow: inset 5px 0 10px -5px rgba(0,0,0,0.4), inset 0px -5px 10px -5px rgba(0,0,0,0.4);
}

#add-tab.no-border{
  height: 2.8em;
}

#controls svg:not(.stoplight-buttons), #add-tab svg:not(.stoplight-buttons) {
  height: 16px;
  width: 16px;
  fill: #86949B;
}

#bookmark svg {
  height: 16px;
  width: 16px;
  fill: #FFCB4B;
  border-left: 1px solid #BCC4C8;
  margin-left: -13px;
  padding-left: 16px;
  position: relative;
}

#bookmark{
  padding-left: 0px;
}

#location {
  position: relative;
  display: inline-block;
  z-index: 999;
  padding: 0;
  float: left;
  width: 100%;
  height: calc(100% + 3px);
  border: none;
  -webkit-user-select: none;
  will-change: display;
  color: #535F66;
  margin-top: auto;
  margin-bottom: auto;
  background: none !important;
}

#location:hover {
  cursor: text;
}
#location:disabled:hover {
  cursor: default;
}

#controls {
  display: -webkit-flex;
  -webit-flex-direction: column;
}

#controls #location-form {
  position: relative;
  display: inline-block;
  width: calc(100% - 50px);
  background: none;
  float: right;
  height: calc(100% - 3px);
  margin-top: auto;
  margin-bottom: auto;
}

#refresh:hover, #back:not([disabled]):hover{
  background-color: #EFF1F2;
}

.electron-in-page-search-window {
  position: absolute;
  right: 0;
  width: 300px;
  height: 36px;
  background: white !important;
}

.electron-in-page-search-window.search-inactive {
  visibility: hidden;
}

.electron-in-page-search-window.search-active {
  visibility: visible;
}

#webview-overlay,
webview {
  position: absolute;
  padding: 0;
  width: 100%;
  height: calc(100% - 38px);
  background: #ffffff;
}

webview.hidden {
  display: flex !important;
  visibility: hidden;
  z-index: -1;
}

#webview-overlay {
  visibility: hidden;
}

#webview-overlay object {
  width: 100%;
  height: 100%;
}

.ripple{
  overflow:hidden;
  transition: border 0.2s ease-in-out;
  /*border-right: 1px solid #DAD9DA;*/
}

.hidden {
  display: none;
}

#back-indicator {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}

#forward-indicator {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: none;
}

#back-indicator img, #forward-indicator img {
  height: 100%;
  width: 100%;
}

#href-dest {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #efefef;
  /* border: 1px solid #dedede; */
  border-top-right-radius: 5px;
  font-size: 12px;
  padding: 2px 5px;
  color: #535F66;
  user-select: none;
  display: none;
  max-width: 40%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#autocomplete {
  position: absolute;
  width: 100%;
  z-index: 1000;
  user-select: none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ac-entry {
  display: flex;
  padding: 8px 0 8px 188px;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.favicon .logo {
  height: 16px;
  width: 16px;
}

.title, .separator, .link, .favicon {
  padding-right: 10px;
}

.link {
  overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.link {
  color: rgb(0, 119, 204);
}