body {
  margin: 0;
}

.spacer {
  height: 2em;
}

.settings-pane {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings .settings-left {
  margin-right: 20px;
  float: left;
}

.settings .settings-content {
  width: 500px;
  padding-top: 0;
}

.settings-content h3 {
  margin-bottom: 0;
}

.settings .list-group-item-action {
  cursor: pointer;
}

.btn {
  box-shadow: none !important;
}

label {
  height: 100%;
  display: flex !important;
  align-items: center;
}