body {
  font-size: 1.2em;
  line-height: 1.5em;
  max-width: 38em;
  margin: auto;
  padding: 0 2%;
}

h1 {
	font-weight: bold;
}

#metadata {
	font-family: "Verdana", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-top: 3em;
}

#metadata span {
	font-size: 1em;
}

#metadata #original a, #metadata #original a:visited {
	float: right;
	color: blue;
}