.history-pane {
	margin-top: 50px;
}

.left {
	display: inline-block;
	float: left;
}

.right {
	display: inline-block;
	float: right;
}

.search {
	top: 10px;
}

.entry div {
	display: inline-block;
}

.delete {
	vertical-align: bottom;
	float: right;
	line-height: 200%;
}

.timestamp {
	min-width: 96px;
}

.entry a {
  color: black;
  text-decoration: none; /* no underline */
}

.site {
	font-size: 12px;
	color: #757575;
}